{% extends 'baseadmin.html.twig' %}

{% block title %}Administrator{% endblock %}

{% block body %}
 
  
 
    <!-- ======= Contact Section ======= -->
               
 
 

           <div class="row mt">
         <div class="container-fluid">


         {% for item in img %}


        <div class="row">

        {% if "mp4" in item.file %}

            <center>
             <video src="/image/{{item.file}}" style="width:95%;margin-bottom:2em;border-radius:3em" controls></video>
           </center> 
             
          

        {% else %}
          
           <center>
             <img src="/image/{{item.file}}" style="width:95%;margin-bottom:2em;border-radius:3em">
           </center>
          
        
        {% endif %}
        
        </div>
           
         {% endfor %}

    
   	   {% for message in app.flashes('errorData') %}
          <div class="alert alert-danger" role="alert">
             {{message}}
          </div>
        {% endfor %}

 
        {% for message in app.flashes('errorSaisie') %}
          <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
        {% endfor %}
       
    
         {% for message in app.flashes('Success') %}
          <div class="alert alert-success" role="alert">
             {{message}}
          </div>
        {% endfor %}
     

 

      {{form_start(form,{'attr':{'style':'margin-bottom:3em;margin-top:3em'}})}}

    
        <div class="form-group">
            <label for="exampleInputEmail1">Titre de L'Annonce <strong style="color:red">*</strong></label>
             {{form_widget(form.title,{"attr": {"class":"form-control","placeholder":"Titre de L'Annonce"}})}}
            <small id="titre" style="color:ligthgrey">tout les champa suivi de l'etoile rouge sont obligatoire.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Categories De L'Annonce<strong style="color:red">*</strong></label>
              {{form_widget(form.category,{"attr": {"class":"form-control","placeholder":" Saisire votre Categorie"}})}}
               <small id="category" style="color:ligthgrey"></small>
                   
        </div>
       
        <div class="form-group">
                <label for="exampleFormControlTextarea1">Contenu<strong style="color:red">*</strong></label>
                 {{form_widget(form.resumer,{"attr": {"class":"form-control","placeholder":" Saisire le resumer de votre Annonce"}})}}
                  <small id="resumer" style="color:ligthgrey"></small>
                
        </div>

 

        

    {# espace de saisis propement dite #}

 <hr class="sidebar-divider">

        <div class="form-group">
            <label for="exampleInputEmail1">Premier Sous-titre<strong style="color:red">*</strong></label>
              {{form_widget(form.firstTitle ,{"attr": {"class":"form-control","placeholder":"Titre de L'Annonce"," aria-describedby":"emailHelp"}})}}
               <small id="firstTitle" style="color:ligthgrey"></small>
            
 
        </div>
       
        <div class="form-group">
                <label for="exampleFormControlTextarea1">Contenu<strong style="color:red">*</strong></label>
                  {{form_widget(form.ContentA ,{"attr": {"class":"form-control","placeholder":" Saisire le resumer de votre Annonce"}})}}
                   <small id="ContentA" style="color:ligthgrey"></small>
                
        </div>

 <hr class="sidebar-divider">

           <div class="form-group">
            <label for="exampleInputEmail1">Deuxieme Sous-titre</label>
              {{form_widget(form.secondTitle ,{"attr": {"class":"form-control","placeholder":"Titre de L'Annonce"}})}}
               <small id="secondTitle" style="color:ligthgrey"></small>
           
 
        </div>
       
        <div class="form-group">
                <label for="exampleFormControlTextarea1">Contenu</label>
                  {{form_widget(form.ContentB ,{"attr": {"class":"form-control","placeholder":" Saisire le resumer de votre Annonce"}})}}
                   <small id="ContentB" style="color:ligthgrey"></small>
 
        </div>

 <hr class="sidebar-divider">

           <div class="form-group">
            <label for="exampleInputEmail1">Troisieme Sous-titre</label>
            {{form_widget(form.thirtTitle ,{"attr": {"class":"form-control","placeholder":"Titre de L'Annonce"}})}}
            <small id="thirtTitle" style="color:ligthgrey"></small>
            
        </div>
       
        <div class="form-group">
                <label for="exampleFormControlTextarea1">Contenu</label>
                  {{form_widget(form.ContentC ,{"attr": {"class":"form-control","placeholder":" Saisire le resumer de votre Annonce"}})}}
                   <small id="ContentC" style="color:ligthgrey"></small>
               
        </div>
           {{form_widget(form.Poster ,{"attr": {"style":"width:100%","class":"btn btn-primary"}})}}
       
   {{form_end(form)}}

 </div>
      </div>
  
  
    
    <!-- End Contact Section -->
 <script src="{{asset('js/UpdateAnnonce.js')}}">
 
</script> 
{% endblock %}
