{% extends 'baseadmin.html.twig' %}

{% block title %}Administrator{% endblock %}

{% block body %}
 
  
 
    <!-- ======= Contact Section ======= -->
               
 

  {# <section id="main-content"> #}
      {# <section class="wrapper"> #}

           <div class="row mt">
         <div class="container-fluid">

    
   	   {% for message in app.flashes('errorData') %}
          <div class="alert alert-danger" role="alert">
             {{message}}
          </div>
        {% endfor %}

 
        {% for message in app.flashes('errorSaisie') %}
          <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
        {% endfor %}
       
    
         {% for message in app.flashes('Success') %}
          <div class="alert alert-success" role="alert">
             {{message}}
          </div>
        {% endfor %}
     

 

      {{form_start(form,{'attr':{'style':'margin-bottom:3em;margin-top:3em'}})}}

    
        <div class="form-group">
            <label for="exampleInputEmail1">Titre de L'Annonce <strong style="color:red">*</strong></label>
             {{form_widget(form.title,{"attr": {"class":"form-control","placeholder":"Titre de L'Annonce"}})}}
            {# <input type="text" class="form-control" id="exampleInputEmail1" name="title" aria-describedby="emailHelp" placeholder="Titre de L'Annonce" required> #}
            <small id="titre" style="color:ligthgrey">tout les champa suivi de l'etoile rouge sont obligatoire.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Categories De L'Annonce<strong style="color:red">*</strong></label>
              {{form_widget(form.category,{"attr": {"class":"form-control","placeholder":" Saisire votre Categorie"}})}}
               <small id="category" style="color:ligthgrey"></small>
                   
        </div>
       
        <div class="form-group">
                <label for="exampleFormControlTextarea1">Contenu<strong style="color:red">*</strong></label>
                 {{form_widget(form.resumer,{"attr": {"class":"form-control","placeholder":" Saisire le resumer de votre Annonce"}})}}
                  <small id="resumer" style="color:ligthgrey"></small>
                {# <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  name="resumer" placeholder=" Saisire le resumer de votre Annonce" required></textarea> #}
        </div>

 

          <div class="form-group">
              <label  for="annonce_file">
               <i class="fas fa-download icon-flag text-#4e73df-50"></i>
               Choisire Votre Fichier (image/Video)<strong style="color:red">*</strong> 
              </label> 
              {{form_widget(form.file,{"attr": {"class":"custom-file-input","placeholder":" Saisire le resumer de votre Annonce","id":"validatedCustomFile"}})}}
            {# <input type="file" class="custom-file-input"  name="file" id="validatedCustomFile" required>            #}
        </div>

    {# espace de saisis propement dite #}

 <hr class="sidebar-divider">

        <div class="form-group">
            <label for="exampleInputEmail1">Premier Sous-titre<strong style="color:red">*</strong></label>
              {{form_widget(form.firstTitle ,{"attr": {"class":"form-control","placeholder":"Titre de L'Annonce"," aria-describedby":"emailHelp"}})}}
               <small id="firstTitle" style="color:ligthgrey"></small>
            {# <input type="text" class="form-control" id="exampleInputEmail1"  name="first_title" aria-describedby="emailHelp" placeholder="Titre de L'Annonce"> #}
 
        </div>
       
        <div class="form-group">
                <label for="exampleFormControlTextarea1">Contenu<strong style="color:red">*</strong></label>
                  {{form_widget(form.ContentA ,{"attr": {"class":"form-control","placeholder":" Saisire le resumer de votre Annonce"}})}}
                   <small id="ContentA" style="color:ligthgrey"></small>
                {# <textarea class="form-control" id="exampleFormControlTextarea1"  name="ContentA" rows="3" placeholder=" Saisire le Contenu de votre Annonce"></textarea> #}
        </div>

 <hr class="sidebar-divider">

           <div class="form-group">
            <label for="exampleInputEmail1">Deuxieme Sous-titre</label>
              {{form_widget(form.secondTitle ,{"attr": {"class":"form-control","placeholder":"Titre de L'Annonce"}})}}
               <small id="secondTitle" style="color:ligthgrey"></small>
            {# <input type="text" class="form-control" id="exampleInputEmail1"  name="second_title" aria-describedby="emailHelp" placeholder="Titre de L'Annonce"> #}
 
        </div>
       
        <div class="form-group">
                <label for="exampleFormControlTextarea1">Contenu</label>
                  {{form_widget(form.ContentB ,{"attr": {"class":"form-control","placeholder":" Saisire le resumer de votre Annonce"}})}}
                   <small id="ContentB" style="color:ligthgrey"></small>
                {# <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  name="ContentB" placeholder=" Saisire le Contenu de votre Annonce"></textarea> #}
        </div>

 <hr class="sidebar-divider">

           <div class="form-group">
            <label for="exampleInputEmail1">Troisieme Sous-titre</label>
            {{form_widget(form.thirtTitle ,{"attr": {"class":"form-control","placeholder":"Titre de L'Annonce"}})}}
            <small id="thirtTitle" style="color:ligthgrey"></small>
            {# <input type="text" class="form-control" id="exampleInputEmail1"  name="thirt_title" aria-describedby="emailHelp" placeholder="Titre de L'Annonce">#}
        </div>
       
        <div class="form-group">
                <label for="exampleFormControlTextarea1">Contenu</label>
                  {{form_widget(form.ContentC ,{"attr": {"class":"form-control","placeholder":" Saisire le resumer de votre Annonce"}})}}
                   <small id="ContentC" style="color:ligthgrey"></small>
                {# <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  name="ContentC" placeholder=" Saisire le Contenu de votre Annonce"></textarea> #}
        </div>
           {{form_widget(form.Poster ,{"attr": {"style":"width:100%","class":"btn btn-primary"}})}}
        {# <button type="submit" class="btn btn-primary" style="width:100%">Submit</button> #}

   {{form_end(form)}}

 </div>
      </div>
  
  
    
    <!-- End Contact Section -->
 <script src="/mju/lib/js/Annonce.js">
 
</script> 
{% endblock %}
