{% extends 'baseadmin.html.twig' %}

{% block title %}Administrator{% endblock %}

{% block body %}


 <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">

      
   	   {% for message in app.flashes('error') %}
          <div class="alert alert-danger" role="alert">
             {{message}}
          </div>
        {% endfor %}


        
   	   {% for message in app.flashes('success') %}
          <div class="alert alert-success" role="alert">
             {{message}}
          </div>
        {% endfor %}
  
           <table class="table table-dark table-striped">
             <thead class="thead-primary">
                <tr>
                <th scope="col">Titre</th>
                <th scope="col">Fichier</th>
                </tr>
            </thead>
            <tbody>
 
            {% for value in data %}
                <tr>
                <th scope="row">{{value.title}}</th>
                <td scope="row">
                {% if "mp4" in value.file %}
                  <video src="/image/{{value.file}}"  style="width:130px;height:100px;border-radius:10px" controls></video>
                  {% else %}
                     <img src="/image/{{value.file}}" style="width:130px;height:100px;border-radius:10px">
                  {% endif %}
                
               
                </td>
                <td scope="row">
                   <a  href="{{path('Updateblog',{'id':value.id})}}">
                      <button class="btn btn-warning text-white" id="voirAnnonce" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
                   </a>
               
                   <a  href="{{path('Deleteblog',{'id':value.id})}}">
                       <button class="btn btn-danger" id="oirAnnonce" ><i class="fa fa-trash-o" ></i></button>
                   </a>
                </td>
                </tr>
 
            {% endfor %}
                
          </tbody>
        </table>
        </div>
        </div>
       
 
 {% endblock %}