{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />


<main id="main">



  {# blog pour modale boostrap et autre #}
{% for item in data %}


<div class="modal" tabindex="-1" id='commentaire{{item.id}}'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Commentaires</h5>
        <button type="button" class="btn-close" data-bs-dismiss="commentaire" aria-label="Close"></button>
      </div>
      <form>
      <div class="modal-body">
         <input type='text' id='email{{item.id}}' class="form-control" placeholder="Enter votre E_mail..."><br>
         <textarea class="form-control" placeholder="Enter votre commentaire..." id="commentairesContent{{item.id}}" rows="3"></textarea>
      </div>
      <div class="modal-footer">
        

        <button type="button" id="submit{{item.id}}" class="btn btn-priary" style='background-color:dodgerblue;color:white'>valider</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endfor %}


<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Blog</h2>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Blog</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">

{% for item in data %}
  



  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-8 entries">

        <article class="entry">

          <div class="entry-img">
          {% if "mp4" in item.file %}
              <video src="/image/{{item.file}}" class="img-fluid"  controls></video>
          {% else %}   
             <img src="/image/{{item.file}}" alt="" class="img-fluid" style="width:100%"> 
          {% endif %}
           
          </div>

          <h2 class="entry-title">
            <a href="blog-single.html">{{item.title}}</a>
          </h2>

          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center" id="aimer{{item.id}}"><i class="bi bi-hand-thumbs-up" id='A1{{item.id}}'><span id="number_like{{item.id}}">0</span></i> </li>
              <li class="d-flex align-items-center" id='detester{{item.id}}'> <i class="bi bi-hand-thumbs-down" id='A2{{item.id}}'><span id="number_unlike{{item.id}}">0</span></i></li>
              <li class="d-flex align-items-center" ><i class="bi bi-clock"></i>jan 2012</li>
              <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#" id="numberComent{{item.id}}" style='text-decoration:none' data-toggle ="modal" data-target ="#commentaire{{item.id}}" >0 Commentaires</a></li>
              <li class="d-flex align-items-center">
                <a href="{{path('VoirPlusSur_Article',{'id':item.id})}}">
                 <i class="bi bi-arrow-right-square"></i>Voir Plus......
                </a>
              </li>
            </ul>
          </div>

    
        </article><!-- End blog entry -->





<script>
{# fonction de recuperation des likes d'une annonce #}

$(()=>{
  var loadlike = setInterval(function(){


    var path = $('#path_loadlike').val();
    var annonce = {{item.id}};
  
      $.ajax({
      url:path,
      method:"post",
      data:{
       id:annonce,
      },success:function(e){
         $("#number_like{{item.id}}").html(e);
      },error:function(e){  
      }
    }); 

    clearInterval(loadlike);
  },1000)


});


</script>










<script>
{# fonction de recuperation des unlikes d'une annonce #}

$(()=>{
  var unloadlike = setInterval(function(){


    var path = $('#path_loadunlike').val();
    var annonce = {{item.id}};
  
      $.ajax({
      url:path,
      method:"post",
      data:{
       id:annonce,
      },success:function(e){
         $("#number_unlike{{item.id}}").html(e);
      },error:function(e){  
      }
    }); 

    clearInterval(unloadlike);
  },1500)


});


</script>







<script>
{# fonction de recuperation des unlikes d'une annonce #}

$(()=>{
  var loadComments = setInterval(function(){


    var path = $('#path_loadComment').val();
    var annonce = {{item.id}};
  
      $.ajax({
      url:path,
      method:"post",
      data:{
       id:annonce,
      },success:function(e){
         $("#numberComent{{item.id}}").html(e);
      },error:function(e){  
      }
    }); 

    clearInterval(loadComments);
  },2000)


});


</script>


 





{# recuperation des commentaire #}

<script>

{# sytheme d'envoie de commentaire sur une annonce #}
$(()=>{

  $('#submit{{item.id}}').on('click',function(){

    $('#commentairesContent{{item.id}}').val(null);
    $('#email{{item.id}}').val(null);
 
    var path = $('#path_commentaireAnnonce').val();
    var annonce = {{item.id}};
     $.ajax({
      url:path,
      method:"post",
      data:{
      commentaire:$('#commentairesContent{{item.id}}').val(),
       email:$('#email{{item.id}}').val(),
       id:annonce,
      },success:function(e){
        
      },error:function(e){  
      }
    }); 

   
    
  });

});


</script>

<script>
 {# synteme de like et d'unlike  d'une annonce #}

$(()=>{
  

 var like = false;

 var unlike = false;
 


  $('#aimer{{item.id}}').on('click',function(){
    var path=$('#path_like').val();
    var annonce = {{item.id}};
    
 if(like == false && unlike == false){

    if( like == false){
    $.ajax({
      url:path,
      method:"post",
      data:{
        annonce:annonce,
      },success:function(e){
        $('#number_like{{item.id}}').html(e);
        $('#A1{{item.id}}').css("color","dodgerblue");
      },error:function(e){

      }
    });
  like = true;

    }
 }
  });

 
 

  



  $('#detester{{item.id}}').on('click',function(){
    
    var path=$('#path_dislike').val();
    var annonce = {{item.id}};
  
if(unlike == false && like == false){

    if(unlike == false){

    $.ajax({
      url:path,
      method:"post",
      data:{
        annonce:annonce,
      },success:function(e){

        $('#number_unlike{{item.id}}').html(e);
        $('#A2{{item.id}}').css("color","dodgerblue");

      },error:function(e){

      
    }
    });
    unlike = true;

    }

    }

  });


});




</script>

  {% endfor %} 
       
       
       
        <div class="blog-pagination">
          <ul class="justify-content-center">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div>

      </div><!-- End blog entries list -->

      <div class="col-lg-4">

        <div class="sidebar">

          <h3 class="sidebar-title">Search</h3>
          <div class="sidebar-item search-form">
            <form action="">
              <input type="text">
              <button type="submit"><i class="bi bi-search"></i></button>
            </form>
          </div><!-- End sidebar search formn-->

          
         
          <h3 class="sidebar-title">Recent Posts</h3>

          {% for item in Alldata %}

           <div class="sidebar-item recent-posts">
            <div class="post-item clearfix">
          {% if "mp4" in item.file %}
              <video src="/image/{{item.file}}" class="img-fluid" style="width:80px;height:60px;"></video>
          {% else %}   
             <img src="/image/{{item.file}}" alt="" class="img-fluid"> 
          {% endif %}
              <h4><a href="blog-single.html">{{item.title}}</a></h4>
              <time datetime="2020-01-01">Jan 1, 2020</time>
            </div>
            
          {% endfor %}
         
 

          </div><!-- End sidebar recent posts-->

          
        </div><!-- End sidebar -->

      </div><!-- End blog sidebar -->

    </div>

  </div>
</section><!-- End Blog Section -->






<input type="hidden" id="path_like" value="{{path('like_annonce')}}">
<input type="hidden" id="path_dislike" value="{{path('dislike_annonce')}}">
<input type="hidden" id="path_commentaireAnnonce" value="{{path('commentaire')}}">
<input type="hidden" id="path_loadlike" value="{{path('loadlike')}}">
<input type="hidden" id="path_loadunlike" value="{{path('loadunlike')}}">
<input type="hidden" id="path_loadComment" value="{{path('load_number_Commentaire')}}">





{# blog pour modale boostrap et autre #}


 



</main>


<!-- End #main -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src='/assets/js/jquery-3.6.0.min.js'></script>




{# blog pour modal #}
<script>

let modal = new Modal('#commentaire');


</script>













 

{% endblock %}



